*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bojana-container{
    background: linear-gradient(#F76202,#F16A66);
    /* padding: 1rem 1rem 3rem 1rem; */
}


header {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1000;
    /* background: transparent !important; */
    justify-content: space-between;
   background-color: black;

  }

   
  header a img{
 width: 190px;
 height: 100px;
 margin-top: -15px;
 
  }



  
  header a {
    text-decoration: none;
  }

#menu-btn {
    position: absolute;
    top: -100%;
    left: -100%;
  }
  
  /* Hide hamburger for bigger screens */
  .menu-icon {
    visibility: hidden;
  }
.menu {
    display: flex;
   background-color: black;
    align-items: center;
    /* max-width: 250px; */
    margin-right: 2rem;
    font-family: 'Rajdhani', sans-serif;

  }


  .menu a{
  /* margin-right: 100px; */
  /* padding-left: -80px; */
  padding-right:80px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  }

  .animate,.label{
    visibility: visible;
    animation: image 1s;
  }

  @keyframes image{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

.nihao-containers{
    width: 100%;
    height: 100vh;


}
.nihao-image-section{
    background-image: url('./images/lush/Dlush_2-03.png');
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.nihao-content-section{
    background-color: #FDDA00;
    color: black;
}
.nihao-title{
    font-size: 3rem;
    font-family: 'Kinemon', sans-serif;
    text-align: center;
    padding-top: 4rem;
    transition: 1s all;
}
.nihao-content-flex{
    display: flex;
    justify-content: center;
}
.nihao-content{
    width: 500px;
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 4rem;
    font-weight: 500;
    font-family: 'rajdhani', sans-serif;

}

.products-section{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.products-section img{
    width: 500px;
}

.products-section img:hover{
    transition: all 0.5s;
    transform: scale(0.8);
}

.nihao-arrow{
    height: 200px;
    border: 0.1px solid black;
}
.image-matter .matter{
    width: 500px;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'rajdhani', sans-serif;

}
.matter-title{
    font-family: 'Kinemon', sans-serif;
    font-size: 3rem;
    color: #CD2765;
    transition: 1s all;
}




/* Starters section */

.starters{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: black;
}

.starters img{
    width: 300px;
}

.starters img:hover{
    transition: all 0.5s;
    transform: scale(0.8);
}
.starters-arrow{
    height: 200px;
    color: #FFF5C5;
    border: 0.1px solid;
}
.starters-text{
    width: 500px;
    color: #A5DC64;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'rajdhani', sans-serif;

}
.starters-title{
    font-size: 3rem;
    font-family: 'Kinemon', sans-serif;
}


/* Veg Section */

.veg-section{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.veg-text{
    width: 500px;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'rajdhani', sans-serif;

}
.get-title{
    font-size: 3rem;
    color: #CB0012;
    font-family: 'Kinemon', sans-serif;
}
.veg-section img{
    width: 300px;
}
.veg-section img:hover{
    transition: all 0.5s;
    transform: scale(0.8);
}
.veg-arrow{
    height: 200px;
    color: #298E1B;
    border: 0.1px solid #298E1B;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    transition: all 2s ease;
    opacity: 0;
}

.reveal.active{
    position: relative;
    transform: translateY(0px);
    opacity: 1;
}



@media (max-width:500px) {
  .nihao-image-section{
    min-height: 300px;
}
  .products-section{
    height: auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.products-section img{
    width: 300px;
    padding: 1rem 0;
}
.nihao-arrow{
  width: 200px;
  height: 0;
  margin: 2rem 0;
  border: 0.1px solid black;
}
.image-matter .matter{
  width: 100%;
  padding: 0 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'rajdhani', sans-serif;

}

  .starters{
    width: 100%;
    height: auto;
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
}
.starters-text{
  width: 100%;
  padding: 0 2rem;
  color: #A5DC64;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'rajdhani', sans-serif;

}
.starters img{
  width: 260px;
}
.starters-arrow{
  width: 200px;
  height: 0;
  margin: 2rem 0;
  color: #FFF5C5;
  border: 0.1px solid;
}
  .veg-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.veg-text{
    width: 100%;
    padding: 0 2rem;
    font-size: 1.3rem;
}
.veg-section img{
  width: 260px;
}
.veg-arrow{
  width: 200px;
  height: 0;
  margin: 2rem 0;
  color: #298E1B;
  border: 0.1px solid #298E1B;
}

}










/* nav Media Queries */

@media screen and (max-width: 1100px) {
    header {
      display: grid;
      grid-template-areas:
        "title   title   hamburger"
        "nav     nav     nav";
    }
  
    header a img {
      grid-area: title;
      position: relative;
      z-index: 1000;
      width: 170px;
      height: 100px;
      padding-top: 20px;
    }
  
    .menu a {
      text-decoration: none;
      color: black;
    }
  
    .menu-btn {
      display: none;
    }
  
    .menu-icon {
      grid-area: hamburger;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      padding: 40px 20px 30px 0;
      position: relative;
      user-select: none;
      visibility: visible;
    }
  
    .navicon {
      background: #ffffff;
      display: block;
      height: 2px;
      width: 30px;
      position: relative;
      z-index: 150;
    }
  
    .navicon:before {
      top: 5px;
    }
  
    .navicon:after {
      top: -5px;
    }
  
    .navicon:before,
    .navicon:after {
        
      background: #000000;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      transition: all 0.2s ease-out;
    }
  
    .menu {
      grid-area: nav;
      max-width: unset;
      max-height: 0;
      transition: max-height 0.2s ease-out;
      overflow: hidden;
      margin: -90px 0px 0px 0px ;
      padding: 0;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      height: 100vh;
      justify-content: center;
  
    }
  
    .menu a {
      padding: 20px 20px !important;
    font-size: 25px;
      border-right: 1px solid #f4f4f4;
      color: rgb(0, 0, 0);
      background-color: #ffffff;
      width: 100%;
      text-align: center;
    
    position: relative;
    top: 20px;
    }
  
    .menu-btn:checked ~ .menu {
      max-height: 100vh;
    }
  
    .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent;
    }
  
    .menu-btn:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }
  
    .menu-btn:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }
  
    .menu-btn:checked ~ .menu-icon .navicon:before,
    .menu-btn:checked ~ .menu-icon .navicon:after {
      top: 0;
    }
  
  
  
  }
  
  
  
  @media (max-width:800px){
    .swiper-button-prev:after,
    .swiper-button-next:after{
      color: black;
      font-weight: 500;
      margin-top: 300px;
      padding: 20px;
      border: none;
  
   
  
    }
    
  
  }